body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  color: white;
  background-color: #007bff; /* Blue color - You can adjust the shade of blue as needed */
  padding: 10px;
  margin-top: 0px;
  text-align: center;
}

#permutationGameContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#topRow {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  justify-content: flex-start;
  white-space: nowrap;
  height: 200px;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;

  flex-direction: column;
  flex-shrink: 0;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  border: 2px solid #333;
  height: 160px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 0;

  transition: opacity 0.25s ease-in-out, width .25s ease-in-out, margin-right 0.25s ease-in-out, margin-left 0.25s ease-in-out, padding 0.25s ease-in-out;
}

.card.active {
  opacity: 1;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  width: 100px;
  /* Add other animation-related styles here */
}

.card.selected {
  transform: translateY(10px); /* Adjust the amount to move the cards down as desired */
}

.card .permutation-value {
  font-size: 16px;
  font-weight: bold;

  opacity: inherit;
}